---
import { getCollection } from 'astro:content'
import HeroImage from '../assets/hero.jpg'
import FullLogoImage from '../assets/logo-full.png'
import Team1Image from '../assets/team-1.png'
import Team2Image from '../assets/team-2.png'
import Post from '../components/Post.astro'
import TeamMember from '../components/TeamMember.astro'
import Picture from '../components/Picture.astro'
import Base from '../layouts/Base.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Service from '../components/Service.astro'
import Carousel from '../components/Carousel.astro'

let posts = await getCollection('posts')
posts = [...posts, ...posts]
---

<Base>
	<Header />
	<main class='mt-2 flex flex-col items-center md:mt-14 md:max-xl:px-4'>
		<div
			class='flex w-full items-center gap-6 self-end max-md:flex-col md:max-w-[calc(100%-calc(calc(100%-1280px)/2))] md:gap-11'
		>
			<Picture
				src={FullLogoImage}
				height={102}
				widths={[396, 1080]}
				alt='Belozupko & Cipriano'
				loading='eager'
				decoding='sync'
				fetchpriority='high'
				class='h-auto w-full max-md:w-[264px] md:max-w-[726px]'
			/>
			<Picture
				src={HeroImage}
				height={408}
				widths={[565, 1400]}
				alt='Belozupko & Cipriano'
				loading='eager'
				decoding='sync'
				fetchpriority='high'
				class='w-full object-cover max-md:h-32 md:max-w-[920px]'
				pictureAttributes={{
					class: 'max-md:w-full'
				}}
			/>
		</div>

		<section
			class='mt-6 flex w-full max-w-7xl items-center justify-between max-md:flex-col max-md:px-3 md:mt-28'
		>
			<div class='max-w-[496px] shrink-0'>
				<h2 class='font-serif text-xl text-primary md:text-3xl'>
					Com inicio em 2021
				</h2>
				<p class='md:mt-2'>
					Belozupko & Cipriano é um escritório de advocacia voltado ao
					atendimento jurídico com sede na cidade de Rebouças/Paraná.
				</p>
			</div>
			<p class='max-w-xl max-md:mt-7 md:text-right'>
				Comprometido com a máxima excelência na prestação de serviços, respeito
				e valorização de seus clientes, engajado com diversas áreas da ciência
				jurídica, oferece soluções dinâmicas e inovadoras para obtenção de
				resultados expressivos que garantam a satisfação de seus clientes.
			</p>
		</section>

		<section
			id='services'
			class='mt-8 w-full max-w-layout scroll-mt-32 max-md:grid max-md:justify-center md:mt-16 md:scroll-mt-24'
		>
			<h2
				class='font-serif text-xl text-secondary max-md:mx-auto max-md:w-80 max-md:px-12 max-md:text-center md:text-3xl'
			>
				OFERECEMOS SERVIÇOS DENTRO DAS ÁREAS:
			</h2>
			<div
				class='mt-7 flex snap-x snap-mandatory snap-always gap-6 max-md:overflow-auto max-md:px-4 max-md:pb-4 md:mt-16 md:justify-center md:gap-8'
				tabindex='0'
			>
				{Array.from({ length: 4 }).map(() => <Service />)}
			</div>
		</section>

		<section
			id='about'
			class='mt-10 flex w-full scroll-mt-32 flex-col items-center gap-8 md:mt-24 md:scroll-mt-24 md:gap-12'
		>
			<div
				class='flex w-full max-w-layout items-center justify-between max-md:flex-col max-md:text-center'
			>
				<h2 class='font-serif text-xl/5 text-primary max-md:w-52 md:text-3xl/8'>
					CONHEÇA NOSSA EQUIPE DE ADVOGADOS
				</h2>
				<p class='max-w-xl max-md:mt-5 max-md:w-80 md:text-right'>
					Nossa atuação profissional é pautada na confiabilidade e proficiência,
					é de suma importância que você conheça nossa equipe
				</p>
			</div>

			<TeamMember
				image={Team1Image}
				name='Milena Janaína Belozupko'
				description='Advogada OAB/PR 93.554'
				graduation='Graduada em Direito pelo Centro Universitário Vale do Iguaçu – Uniguaçu (2017)'
				timeline={{
					Atualmente: [
						'Pós-Graduanda em Direito Processual Civil pelo Centro Universitário Vale do Iguaçu – Uniguaçu',
						'Pós-graduanda em Direito Previdenciário pela Faculdade Legale'
					],
					'2018 - 2020': [
						'Estagiária de pós-graduação do Ministério Público do Estado do Paraná'
					],
					'2017 - 2018': [
						'Chefe de Departamento junto à Assessoria Jurídica da Prefeitura Municipal de Rebouças/PR'
					],
					'2013 – 2016': [
						'Estagiária de Direito do Tribunal de Justiça do Estado do Paraná'
					]
				}}
			/>
			<TeamMember
				reverse
				image={Team2Image}
				name='Thiago Cipriano'
				description='Advogado OAB/PR 74.562'
				graduation='Graduado em Direito pelo Centro Universitário do Vale do Iguaçu – Uniguaçu (2015)'
				timeline={{
					Atualmente: [
						'Pós-Graduando em Direito Processual Civil e Direito Previdenciário'
					],
					'2015 – 2016': [
						'Assessor de Promotor junto ao Ministério Público do Estado do Paraná',
						'Nomeado ao cargo efetivo de Advogado Municipal da Prefeitura Municipal de Rebouças'
					],
					'2012 - 2014': ['Estagiário do Ministério Público Estadual'],
					'2008 - 2012': [
						'Auxiliar administrativo no Sindicato dos Trabalhadores Rurais'
					]
				}}
			/>
		</section>
		<section class='mt-5 w-full max-w-layout md:mt-18'>
			<h2
				class='font-serif text-base text-secondary max-md:text-center md:text-xl'
			>
				INFORMAÇÕES
			</h2>
			<h3
				class='font-serif text-xl text-primary max-md:text-center md:text-3xl'
			>
				Últimas Postagens
			</h3>
			<Carousel>
				{posts.map(post => <Post post={post} />)}
			</Carousel>
		</section>
	</main>
	<Footer />
</Base>
