---
import { Image } from 'astro:assets'
import { type CollectionEntry } from 'astro:content'
import { formatDate } from '../utils'
import Icon from './Icon.astro'

interface Props {
	post: CollectionEntry<'posts'>
}
const { post } = Astro.props
const { Content } = await post.render()
---

<article
	class='flex w-11/12 shrink-0 snap-center rounded-md bg-footer shadow-input md:h-[34rem] md:drop-shadow-post'
>
	<div
		class='flex shrink-0 flex-col gap-2 pb-4 max-md:w-full md:gap-5 md:pb-10'
	>
		<Image
			src={post.data.poster}
			width={554}
			height={232}
			alt=''
			class='object-cover max-md:h-26 max-md:w-full'
		/>
		<div class='flex grow flex-col px-3 md:px-5'>
			<h4 class='grow text-base text-primary md:text-2xl'>
				{post.data.title}
			</h4>
			<p class='text-xs text-secondary max-md:mt-2 md:text-lg'>
				Por Belozupko & Cipriano Advocacia
			</p>
			<p class='mt-1 text-xs md:mt-3 md:text-lg'>
				{formatDate(post.data.date)}
			</p>
		</div>
	</div>
	<div class='space-y-4 px-9 py-14 text-sm max-md:hidden'>
		<Content />
	</div>

	<dialog
		class='max-h-[calc(100%-7rem)] w-full max-w-[calc(100%-4rem)] flex-col rounded-lg shadow-dialog backdrop:bg-transparent backdrop:backdrop-blur-sm open:flex'
	>
		<form method='dialog'>
			<button
				class='absolute right-1.5 top-1.5 rounded-full border-none bg-white p-1.5'
			>
				<Icon name='close' width={12} height={12} />
			</button>
		</form>
		<Image
			src={post.data.poster}
			width={500}
			height={232}
			alt=''
			class='h-26 w-full object-cover'
		/>
		<div class='overflow-auto p-4'>
			<h4 class='font-serif text-base text-primary'>
				{post.data.title}
			</h4>
			<p class='mt-2 text-xs text-secondary'>
				Por Belozupko & Cipriano Advocacia
			</p>
			<p class='text-xs text-black/55'>
				{formatDate(post.data.date)}
			</p>
			<div class='mt-5 space-y-4 text-sm'>
				<Content />
			</div>
		</div>
	</dialog>
</article>

<script>
	const articles = document.querySelectorAll('article')
	articles.forEach(article => {
		const dialog = article.querySelector('dialog')
		article.addEventListener('click', () => {
			if (window.matchMedia('(max-width: 768px)').matches) {
				dialog?.showModal()
			}
		})
	})
</script>
