---
import { Image, type LocalImageProps } from 'astro:assets'
interface Props {
	reverse?: boolean
	image: LocalImageProps['src']
	name: string
	description: string
	graduation: string
	timeline: Record<string, string[]>
}
const { reverse, image, name, description, graduation, timeline } = Astro.props
---

<article
	class:list={[
		'flex w-full max-w-7xl py-6 max-md:px-5 md:py-10',
		reverse && 'justify-end md:text-right'
	]}
>
	<div class='grid w-full max-w-5xl md:auto-cols-max md:gap-x-14'>
		<Image
			src={image}
			alt={name}
			width={200}
			height={200}
			class:list={[
				'row-span-3 w-auto rounded-full max-md:size-25',
				reverse && 'col-start-2'
			]}
		/>
		<div
			class:list={[
				'grid gap-1.5 font-serif max-md:text-center md:gap-3',
				{
					'col-start-1': reverse,
					'col-start-2': !reverse
				}
			]}
		>
			<h2 class='text-lg/5 font-medium text-primary md:text-2xl'>
				{name}
			</h2>
			<p class='text-base/4 text-primary/75 md:text-xl'>{description}</p>
			<p class='text-base/4 text-primary/75 md:text-xl'>
				{graduation}
			</p>
		</div>
		<ul class='mt-7 list-inside max-md:col-span-2 md:ml-6 md:mt-9'>
			{
				Object.entries(timeline).map(([title, items]) => (
					<li>
						<span class='font-bold'>{title}</span>
						<ul class='ml-8'>
							{items.map(item => (
								<li>{item}</li>
							))}
						</ul>
					</li>
				))
			}
		</ul>
	</div>
</article>
